html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
}

.letter {
    width: 6.6667vw;
    height: 6.6667vw;
    background: #f8f0c6;
    z-index: 500;
    display: inline-block;
    border-right: 2px solid #f6e8b1;
    border-bottom: 2px solid #f6e8b1;
    border-radius: 5px;
}

.letter p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 14px;
    left: 20px;
}

.container-wrapper {
    width: 100vw;
    height: 100vw;
    background: #f1f1f1;
    position: absolute;
    left: 0;
    bottom: 0;
}

.hr-container, .vr-container {
    width: 100vw;
    height: 100vw;
    position: absolute;
    top: 0;
    left: 0;
}

.line {
    outline: 1px dotted rgba(188, 188, 188, 0.356);
    border: none;
    margin: 6.6667vw 0 0 0;
    padding: 0;
}

.line-vert {
    outline: 1px dotted rgba(188, 188, 188, 0.356);
    height: 100vw;
    width: 0px;
    margin: 0 0 0 6.6667vw;
    padding: 0;
    display: inline-block;
}

.draw {
    width: 60px;
    height: 60px;
    background: green;
}