html, body {
    margin: 0;
    padding: 0;
}

.box {
    width: 75px;
    height: 75px;
    background: Lightgrey;
    z-index: 500;
    display: inline-block;
}

/* .box p {
    width: 75px;
    height: 75px;
    background: Lightgrey;
    z-index: 500;
    display: inline-block;
} */

.goal {
    width: 500px;
    height: 500px;
    background: #f1f1f1;
    position: absolute;
    right: 0;
    bottom: 0;
}