html, body {
    margin: 0;
    padding: 0;
}

.letter {
    width: 50px;
    height: 50px;
    background: #f8f0c6;
    z-index: 500;
    display: inline-block;
    border-right: 2px solid #f6e8b1;
    border-bottom: 2px solid #f6e8b1;
    border-radius: 5px;
}

.letter p {
    font-size: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 14px;
    left: 20px;
}

.goal {
    width: 500px;
    height: 500px;
    background: #f1f1f1;
    position: absolute;
    right: 0;
    bottom: 0;
}